@model LearnToDocViewModel

@{
    ViewData["Title"] = "Home page";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" id="todoc-tab" href="#todoc" aria-controls="todoc" aria-selected="true">Learn to Doc</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" id="fromdoc-tab" href="#fromdoc" aria-controls="fromdoc" aria-selected="false">Doc to Learn</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div id="todoc" class="tab-pane active" role="tabpanel" aria-labelledby="todoc-tab">
        <div class="panel panel-default pl-3 pt-3">
            <div class="panel-body">
                <form asp-action="convertLearnToDoc">
                    <div class="form-group pb-2">
                        <label for="moduleUrl">MS Learn module URL</label>
                        <input type="url" asp-for="ModuleUrl" class="form-control" id="moduleUrl" aria-describedby="urlHelp" placeholder="Public MS Learn Module URL">
                        <small id="urlHelp" class="form-text text-muted">ex: https://docs.microsoft.com/en-us/learn/modules/configure-storage-accounts</small>
                    </div>
                    <b>OR</b>
                    <div class="form-group pt-2">
                        <label for="githubRepo">GitHub repo</label>
                        <select asp-for="GithubRepo" class="form-control" id="githubRepo">
                            <option>learn-pr</option>
                            <option>learn-bizapps-pr</option>
                            <option>learn-dynamics-pr</option>
                            <option>learn-m365-pr</option>
                        </select>
                        <label for="githubBranch">Branch</label>
                        <input asp-for="GithubBranch" type="text" class="form-control" id="githubBranch" placeholder="live">
                        <label for="githubFolder">Folder</label>
                        <input asp-for="GithubFolder" type="text" class="form-control" id="githubFolder" aria-describedby="folderHelp" placeholder="MS Learn module folder from root of repo">
                        <small id="folderHelp" class="form-text text-muted">ex: /learn-pr/wwl-azure/configure-storage-accounts</small>
                    </div>
                    
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="UseLegacyConverter" id="useLegacyConverter" />
                        <label class="form-check-label" for="useLegacyConverter">
                            Use legacy converter
                        </label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-2 mb-2">Convert</button>
                </form>
            </div>
        </div>
    </div>
    <div id="fromdoc" class="tab-pane" role="tabpanel" aria-labelledby="fromdoc-tab">
        <div class="panel panel-default pl-3 pt-3">
            <div class="panel-body">
                <form asp-action="convertDocToLearn" enctype="multipart/form-data">
                    <div class="form-group pb-2">
                        <label for="wordDoc">Microsoft Word document</label>
                        <input type="file" name="wordDoc" class="form-control" id="wordDoc">
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="UseLegacyConverter" id="useLegacyConverter" />
                        <label class="form-check-label" for="useLegacyConverter">
                            Use legacy converter
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 mb-2">Convert</button>
                </form>
            </div>
        </div>
    </div>
</div>

<span class="text-danger">@Html.ValidationSummary(false)</span>
