<div class="col-6">
    <label for="wordDocument">Choose a .docx file</label>
    <InputFile class="form-control" id="wordDocument" accept=".docx" OnChange="OnFileInputChanged" />
</div>
<div class="col-6"></div>

@code {
    [Parameter] 
    public IBrowserFile? SelectedFile { get; set; }

    [Parameter]
    public EventCallback<IBrowserFile?> SelectedFileChanged { get; set; }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        SelectedFile = e.File;
        await SelectedFileChanged.InvokeAsync(SelectedFile);
    }
}
