@using System.Reflection
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <div class="fixed-bottom pb-2" style="text-align: end; max-width: 250px;">
            <span class="text-white pr-2">
                <small style="padding-right: 10px;">V @GetVersion()</small>
            </span>
        </div>
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay/>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            <div class="pt-4 pe-4" style="text-align: end;">
                <p><a href="mailto:smmark@microsoft.com">Contact Support</a></p>
            </div>
        </footer>
    </main>
</div>

@code
{
    static string GetVersion()
    {
        var currentAssembly = typeof(Program).Assembly;

        var attribute = currentAssembly.GetCustomAttribute<AssemblyTitleAttribute>();
        var versionInfo = attribute?.Title;

        return DateTime.TryParse(versionInfo, out var dt)
            ? dt.ToString("yyyyMMdd.HHmmss")
            : "1.0.0";
    }

}