<div>
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div>
                    <img alt="MS Word icon" src="img/word.png" width="48" height="32" />
                    <span class="oi oi-arrow-circle-right" style="width: fit-content;"></span>
                    <img alt="MS Learn icon" src="img/learn.png" width="32" height="32" style="margin-left: 8px; margin-right: 5px;" />
                </div>
                <small>
                    Word to Training
                </small>
            </NavLink>
            <NavLink class="nav-link" href="docToArticle" Match="NavLinkMatch.All">
                <div>
                    <img alt="MS Word icon" src="img/word.png" width="48" height="32" />
                    <span class="oi oi-arrow-circle-right" style="width: fit-content;"></span>
                    <img alt="MS Docs icon" src="img/docs.png" width="24" height="32" style="margin-left: 8px; margin-right: 12px;" />
                </div>
                <small>
                    Word to Article
                </small>
            </NavLink>
            <NavLink class="nav-link" href="learnToDoc" Match="NavLinkMatch.All">
                <div>
                    <img alt="MS Learn icon" src="img/learn.png" width="32" height="32" style="margin-left: 8px; margin-right: 5px;" />
                    <span class="oi oi-arrow-circle-right" style="width: fit-content;"></span>
                    <img alt="MS Word icon" src="img/word.png" width="48" height="32" />
                </div>
                <small>
                    Learn to Word
                </small>
            </NavLink>
            <NavLink class="nav-link" href="learnToMarkdown" Match="NavLinkMatch.All">
                <div>
                    <img alt="MS Learn icon" src="img/learn.png" width="32" height="32" style="margin-left: 8px; margin-right: 5px;" />
                    <span class="oi oi-arrow-circle-right" style="width: fit-content;"></span>
                    <img alt="Markdown icon" src="img/markdown.png" width="32" height="48" style="margin-left: 8px; margin-right: 12px;" />
                </div>
                <small>
                    Learn to MD
                </small>
            </NavLink>
        </div>
    </nav>
</div>