@if (!string.IsNullOrEmpty(ErrorText))
{
    <div class="alert alert-danger alert-dismissible d-flex align-items-center">
        <span class="oi oi-warning me-3"></span>
        <div>
            @ErrorText
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" @onclick="OnDismiss"></button>
    </div>
}

@code {
    [Parameter] public string? ErrorText { get; set; }
    
    private void OnDismiss()
    {
        ErrorText = null;
    }
}