
<div class="container-fluid">
    <div class="mb-3 row">
        <div class="col">
            <button class="btn btn-primary float-end" @onclick="AddNew">Add New</button>
        </div>
    </div>

    @for (var index = 0; index < Items.Count; index++)
    {
        var i = index;
        var item = Items[i];

        <div class="row pb-3">
            <div class="col-11">
                <input type="text" class="form-control" placeholder="Enter a value" 
                       value="@item" @onchange="@(e => ChangeText(i, e))"/>
            </div>
            <div class="col">
                <button class="btn-close" @onclick="@(() => RemoveItem(i))"></button>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<object> Items { get; set; } = null!;

    private void ChangeText(int index, ChangeEventArgs e)
    {
        Items[index] = e.Value ?? "";
    }

    private void RemoveItem(int index)
    {
        Items.RemoveAt(index);
    }

    private void AddNew()
    {
        Items.Add("");
    }
}
